body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 80%;
    width: 100%;
    background-color: #f3f3f3; /* Light grey background */
}

#info {
    height: 20%;
    width: 100%;
    background-color: #ddd; /* Slightly darker grey background */
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Allows scrolling if content is too long */
}
